--extra-index-url https://download.pytorch.org/whl/cpu
streamlit==1.54.0
torch==2.6.0
torchvision==0.21.0
torchaudio==2.6.0
pandas==2.3.3
numpy==2.2.0
scikit-learn==1.7.1
umap-learn==0.5.9.post2
matplotlib==3.10.6
seaborn==0.13.2
openla==0.3.0
